<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/logincurier.css">
</head>
<body>
    <div class="hero">
        <h1 style="position: absolute;top: 41vh;right: 0vh;width: 300px;color: #000000; font-size: 53px;">Și tu poți fi curier de sănătate.</h1>
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" id="buton1" class="toggle-btn">Autentificare</button>
                <button type="button" id="buton2" class="toggle-btn">Înregistrare</button>
            </div>
                <form action="/login" method="POST" id="login" class="input-group">
                <input type="email" name="email" class="input-field" placeholder="Email-ul de autentificare" required>
                <input type="password" name="password" class="input-field" placeholder="Parola" required>
                <button type="submit" class="submit-btn">Conectare</button>
                </form>
        </div>        
    </div>
    <script src="./js/login.js"></script>
</body>
</html>