
<p><%= user.NUME%></p>
<form action="/myprofile" method="POST">
    <input type="text" name="nume" placeholder="numele tau" value="<%= user.NUME %> ">
    <button type="submit">updateaza</button>
</form>