<form action="/register" method="POST">
	<input type="text" name="nume" placeholder="nume"><br>
	<input type="text" name="prenume" placeholder="prenume"><br>
	<input type="email" name="email" placeholder="email"><br>
	<input type="password" name="password" placeholder="parola"><br>
	<input type="text" name="adresa" placeholder="adresa"><br>
	<input type="date" name="birth" placeholder="birth"><br>
	<input type="text" name="sex" placeholder="sex (initiala)"><br>
	<input type="text" name="telefon" placeholder="telefon"><br>
    <button type="submit">Creeaza cont</button>

</form>