*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    background-color: #c3ddff;
    background-position: center;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 8vw 62vw auto;
    background: white;
    padding: 5px;
}
.button-box{
    width: 270px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #02569b1f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 135px;
    height: 100%;
    background: linear-gradient(to right, #07686b , #69ece4);
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    background: transparent;   
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 95px auto;
    background: linear-gradient(to right, #07686b , #69ece4);
    border: 0;
    outline: none;
    border-radius: 30px;
}
#login{
    left: 50px;
}